<%= form_for(:cat, url: url, html: { method: method }, data: { turbo: false }, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, value: cat&.name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :breed %>
    <%= form.text_field :breed, value: cat&.breed, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :favorite_quote %>
    <%= form.text_area :favorite_quote, value: cat&.favorite_quote, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
